<meta charset="utf-8">
<section class="content-header">
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
		<!--<li><a href="#">line1</a></li>-->
		<li class="active">管理首页</li>
	</ol>
</section>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-lg-3 col-xs-6">
			<div class="small-box bg-aqua">
				<div class="inner">
					<h3 th:text="${commentNums}">15</h3>
					<p>新留言</p>
				</div>
				<div class="icon">
					<i class="ion ion-chatbubbles"></i>
				</div>
				<a href="/index#comments" class="small-box-footer">更多 <i
					class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<div class="col-lg-3 col-xs-6">
			<div class="small-box bg-green">
				<div class="inner">
					<h3 th:text="${subjectNums}">
						53<sup style="font-size:20px">%</sup>
					</h3>
					<p>总课程数</p>
				</div>
				<div class="icon">
					<i class="icon ion-compose"></i>
				</div>
				<a href="/index#subjects" class="small-box-footer">更多 <i
					class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<div class="col-lg-3 col-xs-6">
			<div class="small-box bg-yellow">
				<div class="inner">
					<h3 th:text="${userNums}"></h3>
					<p>用户量</p>
				</div>
				<div class="icon">
					<i class="ion ion-person-add"></i>
				</div>
				<a href="/index#users" class="small-box-footer">更多 <i
					class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<div class="col-lg-3 col-xs-6">
			<div class="small-box bg-red">
				<div class="inner">
					<h3 th:text="${questionNums}"></h3>

					<p>题库量</p>
				</div>
				<div class="icon">
					<i class="ion ion-cube"></i>
				</div>
				<a href="/index#questions" class="small-box-footer">更多 <i
					class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="box box-danger">
				<div class="box-header with-border">
					<h3 class="box-title">学院和学生人数统计</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<div class="box-body">
					<div id="pieChart" style="width:100%;height:300px"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="box box-success">
				<div class="box-header with-border">
					<h3 class="box-title">学院及格人数统计图</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<div class="box-body">
					<div class="chart">
						<div id="barChart" style="width:100%;height:300px"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(function () {
		Core.postAjax("/api/aps","",function (data) {
            if(data.status==200){
                getData(data);
            }else{
            	layer.msg(data.msg);
            }
        })
        
        function getData(data){
			var data = data.data;
			var legendData = [];
            var seriesData = [];
            for (var i = 0; i < data.length; i++) {
                name = data[i].institute_name;
                legendData.push(name); 
                seriesData.push({
                    name: name,
                    value: data[i].num
                });
            }

			//初始化echarts实例
	        var myChart = echarts.init(document.getElementById('pieChart'));
			
	        //指定图表的配置项和数据
	        option = {
	       	    tooltip : {
	       	        trigger: 'item',
	       	        formatter: "{a} <br/>{b} : {c} 人"
	       	    },
	       	    legend: {
	       	        left: 'left',
	       	        data: legendData
	       	    },
	       	    series : [
	       	        {
	       	            name: '数据来源',
	       	            type: 'pie',
	       	            radius : '70%',
	       	            center: ['50%', '50%'],
	       	            data: seriesData,
	       	            itemStyle: {
	       	                emphasis: {
	       	                    shadowBlur: 10,
	       	                    shadowOffsetX: 0,
	       	                    shadowColor: 'rgba(0, 0, 0, 0.5)'
	       	                }
	       	            }
	       	        }
	       	    ]
	       	}
	      	//使用刚指定的配置项和数据显示图表。
	        myChart.setOption(option);
		}
		
		
		var barChart = echarts.init(document.getElementById('barChart'));
        var data = genData(10);

        options = {

            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                type: 'scroll',
                left: 'left',
                orient: 'vertical',
                right: 10,
                top: 10,
                bottom: 20,
                data: data.legendData,
                selected: data.selected
            },
            series : [
                {
                    name: '姓名',
                    type: 'pie',
                    radius : '70%',
                    center: ['60%', '50%'],
                    data: data.seriesData,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };


        function genData(count) {
            var nameList = [
                '赵', '钱', '孙', '李', '周', '吴', '郑', '王', '冯', '陈',
            ];
            var legendData = [];
            var seriesData = [];
            var selected = {};
            for (var i = 0; i < 10; i++) {
                name = Math.random() > 0.65
                    ? makeWord(4, 1) + '·' + makeWord(3, 0)
                    : makeWord(2, 1);
                legendData.push(name); 
                seriesData.push({
                    name: name,
                    value: Math.round(Math.random() * 100000)
                });
                selected[name] = i < 6;
            }

            return {
                legendData: legendData,
                seriesData: seriesData,
                selected: selected
            };

            function makeWord(max, min) {
                var nameLen = Math.ceil(Math.random() * max + min);
                var name = [];
                for (var i = 0; i < nameLen; i++) {
                    name.push(nameList[Math.round(Math.random() * nameList.length - 1)]);
                }
                return name.join('');
            }
        }
     	//使用刚指定的配置项和数据显示图表。
        barChart.setOption(options);
	})
</script>
