<meta charset="utf-8">
<div id="top" th:fragment="top"  class="top-box">
    <div class="container">
        <span class="">
                                      
        </span>
    </div>
</div>
<nav id="loginNavbar" th:fragment="loginNavbar" style="background:#00CCCC">
	<div class="container" >
		<div class="navbar-header">
	    	<p style="font-family:'微软雅黑';color:#fff;font-size:36px">C语言在线考试系统</p>
	    </div>
	</div>
</nav>
<nav id ="navbar" th:fragment="navbar" class="navbar navbar-default">
	<div class="container">
    	<div class="navbar-header">
	    	<a class="logo-a" href="/">
	            <img src="/img/logo.png" alt="logo" />
	        </a>
	    </div>
	    <div class="collapse navbar-collapse navbar-right" aria-expanded="false">
	    	<ul class="nav navbar-nav">
	    		<li th:class="${category=='index' ? 'active' : ''}">
                    <a th:href="@{/}">
                    	<span class="glyphicon glyphicon-th-large"></span> 首页
                    </a>
                </li>
                <li th:class="${category=='examination' ? 'active' : ''}">
                    <a th:href="@{/toExam}">
                       	 <span class="glyphicon glyphicon-road"></span> 在线考试
                    </a>
                </li>
                <li class="">
                    <a th:href="@{/}">
                       	<span class="glyphicon glyphicon-hdd"></span> 题库中心
                    </a>
                </li>
                <li class="">
                    <a th:href="@{/}">
                       	 <span class="glyphicon glyphicon-send"></span> 讨论区
                    </a>
                </li>
                
                <li>
                	<a class="btn btn-primary">登录</a>
                </li>
                <li>
                	<a class="btn btn-primary">注册</a>
                </li>
	    	</ul>
	    </div>
    </div>
</nav>